.confirm-label {
	font-weight: 700;
}

.confirm-row {
	padding-bottom: 5px;
}

.list-title {
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.list-item {
	color: #333;
	font-weight: 400;
	margin-bottom: 20px;
    border: 1px solid #ddd;
	padding: 15px;
    -webkit-box-shadow: 0 3px 2px rgba(0,0,0,.05);
    box-shadow: 0 3px 2px rgba(0,0,0,.05);
    cursor: pointer;
}

.list-item, .list-item:focus {
	color: #333;
	background-color: #fff;
}

.list-item:hover {
	color: #333;
	background-color: #eee;
	border: 1px solid #ccc;
}

.card-modal-cover {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #eeeeee;
}

.item-lbl {
	width: 5px;
	margin: 0 4px;
	display: inline-block;
}

.item-lbl-small {
	width: 5px;
	margin: 0 0 0 10px;
	display: inline-block;
}

.item-lbl-borrowed {
	background-color: #5cb85c;
}

.item-lbl-damaged {
	background-color: #d9534f;
}

.item-lbl-broken {
	background-color: #666666;
}

.item-lbl-late {
	background-color: #f0ad4e;
}

.item-lbl-drying {
	background-color: #5bc0de;
}

.item-lbl-repair {
	background-color: #aa6708;
}

.item-lbl-available {
	background-color: #337ab7;
}

.item-lbl-pending {
	background-color: #5bc0de;
}

.item-lbl-completed {
	background-color: #337ab7;
}

.item-lbl-overdue {
	background-color: #d9534f;
}

.item-lbl-active {
	background-color: #5cb85c;
}

.item-lbl-key {
	padding-right: 15px;
}

.item-lbl-label {
	margin-right: 10px;
}

.item-lbl-key-container {
    font-size: 10px;
	color: #666;
	padding-top: 6px;
    padding-bottom: 6px;
}

.btn-filter {
	background-color: #39afea;
	border-color: #2e6da4;
	color: #fff;
	border-radius: 15px;
}

.btn-filter:hover, .btn-filter:focus {
	background-color: #2e6da4;
	border-color: #2e6da4;
	color: #fff;
}

#filter-modal h5 {
    font-weight: 700;
}

#filter-modal .btn-xs {
    padding: 1px 10px 1px 0;
}

.filter-active, .filter-active:focus, .filter-active:hover {
    border-color: #d9534f;
    border-width: 2px;
    color: #d9534f;
}

.list-request {
	color: #333;
	font-weight: 400;
	margin-bottom: 20px;
    -webkit-box-shadow: 0 3px 2px rgba(0,0,0,.05);
    box-shadow: 0 3px 2px rgba(0,0,0,.05);
}

.list-request-header {
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.list-request-subheader {
    padding-top: 8px; 
	font-size: 12px;
	color: #666;
}

.list-request-body {
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.list-request-footer {
    padding-top: 2px; 
    padding-bottom: 2px; 
    text-align: center; 
    color: #999;
    cursor: pointer;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #eee;
}

.list-request-footer, .list-request-footer:focus {
	color: #999;
	background-color: #fff;
}

.list-request-footer:hover {
	color: #333;
	background-color: #eee;
	border-color: #ccc;
}

.loading-overlay {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 10; 
    background-color: rgba(255, 255, 255, 0.8); 
    background-image: url('../img/loading.gif'); 
    background-position: center center; 
    background-repeat: no-repeat;
}

.dashboard-item {
    margin-bottom: 15px;
    padding: 10px 20px;
    min-height: 100px;
    color: #FFF;
    font-size: 36px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}

.dashboard-item-footer {
    font-size: 12px;
    font-weight: 400;
}

.dashboard-item-body {
    font-size: 36px;
    font-weight: 800;
}

.dashboard-item-icon {
    display: inline-block;
    text-align: center;
    min-width: 48px;
}

.dashboard-item-title {
    font-size: 12px;
    font-weight: 400;
}

.item-lbl-request {
    background-color: #337ab7;
    color: #ddd;
}

.dashboard-item-request  {
    padding-left: 10px;
    padding-right: 10px; 
    border-radius: 15px;
    min-width: 75px;
    min-height: 75px;
    margin-left: 5px;
    /*border: 1px solid #666;*/
    /*border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    */
    background-color: #a4cdf0;
    color: #444;
}

.logs-heading {
    padding: 5px 0;
}

.logs-icon {
    font-size: 28px;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
}

.logs-icon-in {
	background-color: #5cb85c;
}

.logs-icon-out {
	background-color: #d9534f;
}

.logs-icon-drying {
	background-color: #5bc0de;
}

.logs-icon-repair {
	background-color: #aa6708;
}

.logs-icon-comment {
	background-color: #337ab7;
}

.table>tbody>tr>td.logs-icon-cell {
    font-size: 28px;
    padding: 20px;
    text-align: right;
}

.logs-date {
    font-size: 10px;
    color: #666;
    font-style: italic;
    position: absolute;
    bottom: 0;
}

.logs-body {
    padding-bottom: 27px;
    position: relative;
    min-height: 72px;
}

/*
 * Override bootstrap.min.css
 */
body {
    padding-top: 110px;
}

@media (min-width: 768px) {
    body {
        padding-top: 70px;
    }
}

.panel-footer {
    background-color: #eee;
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #ddd;
}
/*
@media (min-width: 768px) {
    .twoRow .navbar-2ndRow {
        clear: left;
    }
}
*/
.navbar-nav {
    margin: 0;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
    }
}

/*
 * Disable Nav bar collapse
 */
.navbar-collapse.collapse {
  display: block!important;
}
.navbar-nav>li, .navbar-nav {
  float: left !important;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}
.navbar-right {
  float: right!important;
}
/*
 * End of Disable Nav bar collapse
 */

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    border: 0px;
}

.navbar-default {
    background-color: #026aa7;
    border-color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
    border-bottom: 3px #FFF solid;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #02639d;
    border-bottom: 3px #FFF solid;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #02639d;
    border-bottom: 3px #02639d solid;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
}

.modal-dialog {
    margin: 110px 10px;
}

@media (min-width: 768px) {
	.modal-dialog {
	    margin: 70px auto;
	}
}
